div.sidemenu
    ul.sidemenu-options
        li.item.active
            a(href="/")
                i.fas.fa-home
                Home
        li.item
            a(href="/expenses/")
                i.fas.fa-receipt
                Despesas
        li.item
            a(href="/revenues/")
                i.fas.fa-hand-holding-usd
                Receitas